<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyi.domain.task.repository.mapper.SysTaskMapper">

    <sql id="result_cols">
        id, gmt_create, gmt_modified, deleted_at, extra_data, task_id, task_type, task_status
    </sql>
    <insert id="insert">
        INSERT INTO sys_task(extra_data, task_id, task_type, task_status, gmt_create, gmt_modified)
        VALUES (#{extraData}, #{taskId}, #{taskType}, #{taskStatus}, #{gmtCreate}, #{gmtModified})
    </insert>
    <insert id="insertBatch">
        INSERT INTO sys_task(extra_data, task_id, task_type, task_status, gmt_create, gmt_modified)
        VALUES
        <foreach collection="poList" item="item" index="index" separator=",">
            (#{item.extraData}, #{item.taskId}, #{item.taskType}, #{item.taskStatus}, #{gmtCreate}, #{gmtModified})
        </foreach>
    </insert>
    <update id="updateStatus">
        UPDATE sys_task
        SET task_status = #{taskStatus}, gmt_modified = #{gmtModified}
        WHERE task_id IN (
        <foreach collection="taskIds" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="queryByTypeAndStatusWithCursor" resultType="com.youyi.domain.task.repository.po.SysTaskPO">
        SELECT
        <include refid="result_cols"/>
        FROM sys_task
        WHERE task_type = #{taskType}
        <if test="withTimeInterval">
            AND gmt_modified &lt; UNIX_TIMESTAMP(NOW() - INTERVAL 1 DAY)
        </if>
        AND task_status IN (
        <foreach collection="taskStatus" item="item" separator=",">
            #{item}
        </foreach>
        )
        AND deleted_at = 0
        AND id &gt; #{cursor}
        ORDER BY gmt_modified DESC, id DESC
        LIMIT #{size}
    </select>

</mapper>

