<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyi.domain.user.repository.mapper.UserAuthMapper">

    <resultMap id="UserAuthResultMap" type="com.youyi.domain.user.repository.po.UserAuthPO">
        <id column="id" property="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="userId" column="user_id"/>
        <result property="identityType" column="identity_type"/>
        <result property="identifier" column="identifier"/>
        <result property="credential" column="credential"/>
        <result property="salt" column="salt"/>
    </resultMap>

    <sql id="result_cols">
        id, gmt_create, gmt_modified, deleted_at, extra_data, user_id, identity_type, identifier, credential, salt
    </sql>
    <insert id="insert">
        INSERT INTO `user_auth` (user_id, identity_type, identifier, credential, salt)
        VALUES (#{userId}, #{identityType}, #{identifier}, #{credential}, #{salt})
    </insert>
    <insert id="insertOrUpdate">
        INSERT INTO `user_auth` (user_id, identity_type, identifier, credential, salt)
        VALUES (#{userId}, #{identityType}, #{identifier}, #{credential}, #{salt})
        ON DUPLICATE KEY UPDATE
        user_id = #{userId},
        identity_type = #{identityType},
        identifier = #{identifier},
        credential = #{credential},
        salt = #{salt}
    </insert>

    <select id="queryByIdentityTypeAndIdentifier" resultType="com.youyi.domain.user.repository.po.UserAuthPO">
        SELECT
        <include refid="result_cols"/>
        FROM `user_auth`
        WHERE `identity_type` = #{identityType}
        AND `identifier` = #{identifier}
        AND `deleted_at` = 0
    </select>

</mapper>
