<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyi.domain.user.repository.mapper.UserAuthMapper">

    <sql id="result_cols">
        id, gmt_create, gmt_modified, deleted_at, extra_data, user_id, identity_type, identifier, credential, salt
    </sql>
    <insert id="insert">
        INSERT INTO `user_auth` (user_id, identity_type, identifier, credential, salt, gmt_create, gmt_modified)
        VALUES (#{userId}, #{identityType}, #{identifier}, #{credential}, #{salt}, #{gmtCreate}, #{gmtModified})
    </insert>
    <insert id="insertBatch">
        INSERT INTO `user_auth` (user_id, identity_type, identifier, credential, salt, gmt_create, gmt_modified)
        VALUES
        <foreach collection="pos" item="item" index="index" separator=",">
            (#{item.userId}, #{item.identityType}, #{item.identifier}, #{item.credential}, #{item.salt},
            #{item.gmtCreate}, #{item.gmtModified})
        </foreach>
    </insert>
    <update id="update">
        UPDATE `user_auth`
        SET credential = #{credential}, salt = #{salt}, gmt_modified = #{gmtModified}
        WHERE `user_id` = #{userId}
        AND `identity_type` = #{identityType}
        AND `identifier` = #{identifier}
        AND `deleted_at` = 0
    </update>
    <select id="queryByIdentityTypeAndIdentifier" resultType="com.youyi.domain.user.repository.po.UserAuthPO">
        SELECT
        <include refid="result_cols"/>
        FROM `user_auth`
        WHERE `identity_type` = #{identityType}
        AND `identifier` = #{identifier}
        AND `deleted_at` = 0
    </select>

</mapper>
