<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyi.infra.config.repository.mapper.ConfigMapper">

    <resultMap id="ConfigResultMap" type="com.youyi.infra.config.repository.po.ConfigPO">
        <id column="id" property="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="configKey" column="config_key"/>
        <result property="configValue" column="config_value"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="result_cols">
        id, gmt_create, gmt_modified, deleted_at, extra_data, config_key, config_value, version
    </sql>

    <insert id="insert" parameterType="com.youyi.infra.config.repository.po.ConfigPO">
        INSERT INTO `config` (extra_data, config_key, config_value, version)
        VALUES (#{extraData}, #{configKey}, #{configValue}, #{version})
    </insert>
    <update id="updateConfigValueAndEnv" parameterType="com.youyi.infra.config.repository.po.ConfigPO">
        UPDATE `config`
        SET `config_value` = #{configValue}, `version` = version + 1
        WHERE `config_key` = #{configKey}
        AND `version` = #{version}
        AND `deleted_at` = 0
    </update>
    <update id="deleteByConfigKeyAndEnv" parameterType="com.youyi.infra.config.repository.po.ConfigPO">
        UPDATE `config`
        SET `deleted_at` = #{deletedAt}
        WHERE `config_key` = #{configKey}
        AND `deleted_at` = 0
    </update>
    <select id="queryByConfigKey" resultType="com.youyi.infra.config.repository.po.ConfigPO">
        SELECT
        <include refid="result_cols"/>
        FROM `config`
        WHERE `config_key` = #{configKey}
        <if test="!includeDeleted">
            AND deleted_at = 0
        </if>
    </select>
    <select id="queryAll" resultType="com.youyi.infra.config.repository.po.ConfigPO">
        SELECT
        <include refid="result_cols"/>
        FROM `config`
        WHERE 1 = 1
        <if test="!includeDeleted">
            AND deleted_at = 0
        </if>
    </select>

</mapper>

